@import "tailwindcss";

/*
.BackGround{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(26, 119, 226);
}
.OuterBox{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    background-color: rgb(44, 162, 221);
    border-radius: 1rem;
    overflow: hidden;
}
.formBox{
    width: 50%;
    padding: 40px;
}
.emailBox 
.password
.repeat{
    display:flex;
    align-items: center;
} 
    */