/* src/components/BackgroundGraphics.module.css */

.fullScreenBackground {
  position: fixed; /* Fixes the background to the viewport */
  top: 0;
  left: 0;
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
  background-image: url("../assets/logo.svg"); /* <---- REPLACE WITH YOUR IMAGE PATH */
  background-size: cover; /* Ensures the image covers the whole area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents image repetition */
  z-index: -1;
}